# Capstone II: Data Wrangling


This step consists of multiple components including Data Collection, Data Organization, Data Definitions, and Data Cleaning.

**This are the differents steps we will be using to do our Data Wrangling**  
  * Data Collection
      - Locating the data
      - Data loading
      - Data joining
  * Data Organization
      -  File structure
      -  Git & Github
  * Data Definition
      - Column names
      - Data types (non-categorical, categorical, timestamp, etc.)
      - Description of the columns
      - Count or percent per unique values or codes (including NA)
      - The range of values or codes  
  * Data Cleaning
      - NA or missing data
      - Duplicates

## Data Collection

Load the needed packages and modules into Python

In [1]:
import os 
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

Let us print the current working directory and change it if necessary

In [10]:
path=os.getcwd()
print(path)

C:\Users\meteu\Desktop\SPRINGBOARD\PROJECT 2

In [8]:
path="C:/Users/meteu/Desktop/SPRINGBOARD/PROJECT 2"

In [9]:
print(os.chdir(path))

None

In [12]:
os.listdir(path)

['CAPSTONE PROPOSAL.pdf', 'data.csv']

We will now load our data into a pandas dataframe

In [18]:
df=pd.read_csv("data.csv", sep=';')
df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

## Data Organization

### Let us create some subfolders inside my project folder

<font color='green'> **Creation of a subfolder called `data`.**</font>

In [19]:
!mkdir data

<font color='green'> **Creation of a subfolder for the data visualizations called `figures`.**</font>

In [21]:
!mkdir figures

<font color='green'> **Creation of a folder for the models we will build called `models`.**</font>

In [22]:
!mkdir models

Let us see what we have therefore in our project folder

In [23]:
!dir

 Volume in drive C is Windows
 Volume Serial Number is 603D-12C6

 Directory of C:\Users\meteu\Desktop\SPRINGBOARD\PROJECT 2

06/27/2020  09:13 AM    <DIR>          .
06/27/2020  09:13 AM    <DIR>          ..
06/24/2020  08:13 AM            60,367 CAPSTONE PROPOSAL.pdf
06/27/2020  09:05 AM    <DIR>          data
06/27/2020  08:13 AM         3,011,525 data.csv
06/27/2020  09:10 AM    <DIR>          figures
06/27/2020  09:13 AM    <DIR>          models
               2 File(s)      3,071,892 bytes
               5 Dir(s)  397,634,371,584 bytes free

## Data Definition

### Column Names

Let us dispaly all the columns name of the entire dataframe

In [24]:
df.columns

Index(['id', 'age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo',
       'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio'],
      dtype='object')

### Data Types

Let us check what columns are integer, float, categorical or dates

In [25]:
df.dtypes

id               int64
age              int64
gender           int64
height           int64
weight         float64
ap_hi            int64
ap_lo            int64
cholesterol      int64
gluc             int64
smoke            int64
alco             int64
active           int64
cardio           int64
dtype: object

Let us check the data shape

In [34]:
df.shape

(70000, 13)

### Description of the column

Let us find per column the count of non-null values.

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   height       70000 non-null  int64
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   gluc         70000 non-null  int64
 9   smoke        70000 non-null  int64
 10  alco         70000 non-null  int64
 11  active       70000 non-null  int64
 12  cardio       70000 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 6.9 MB

Let us see the dataset's summary statistics

In [39]:
df.describe()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,49972.419900,19468.865814,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,28851.302323,2467.251667,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,0.000000,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,25006.750000,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,50001.500000,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,74889.250000,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,99999.000000,23713.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

### Count of unique values or codes

In [40]:
df.count()

id             70000
age            70000
gender         70000
height         70000
weight         70000
ap_hi          70000
ap_lo          70000
cholesterol    70000
gluc           70000
smoke          70000
alco           70000
active         70000
cardio         70000
dtype: int64

Let us count the number of distinct values for each column and let us focus just on binary and categorical variable.

In [55]:
df.nunique()

id             70000
age             8076
gender             2
height           109
weight           287
ap_hi            153
ap_lo            157
cholesterol        3
gluc               3
smoke              2
alco               2
active             2
cardio             2
dtype: int64

We can see that cholesterol and gluc (glucose) have 3 distincts values.

gender, smoke(smoking), alco (alcohol intake), active (Physical activity), cardio (Prsence or absence of cardiovascular disease) have all 2 distinct values.

Now let us find what does values are.

In [56]:
df['gluc'].value_counts()

1    59479
3     5331
2     5190
Name: gluc, dtype: int64

In [57]:
df['cholesterol'].value_counts()

1    52385
2     9549
3     8066
Name: cholesterol, dtype: int64

We can see that the unique values of Cholesterol and gluc are 1, 2 and 3.

In [58]:
df['gender'].value_counts()

1    45530
2    24470
Name: gender, dtype: int64

In [59]:
df['alco'].value_counts()

0    66236
1     3764
Name: alco, dtype: int64

In [60]:
df['active'].value_counts()

1    56261
0    13739
Name: active, dtype: int64

In [61]:
df['cardio'].value_counts()

0    35021
1    34979
Name: cardio, dtype: int64

We can see that the unique values of gender, smoke, alco, active and cardio are 0 and 1.

### Range of values per column

We will print the range of values using the aggregate function agg().

In [62]:
df.agg([min, max]).T

                 min      max
id               0.0  99999.0
age          10798.0  23713.0
gender           1.0      2.0
height          55.0    250.0
weight          10.0    200.0
ap_hi         -150.0  16020.0
ap_lo          -70.0  11000.0
cholesterol      1.0      3.0
gluc             1.0      3.0
smoke            0.0      1.0
alco             0.0      1.0
active           0.0      1.0
cardio           0.0      1.0

## Data Cleaning

Let us check if there are missing values

In [35]:
df.isnull().sum()

id             0
age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

Waouh!! This data looks pretty clean. Let check now to see if there are duplicates row.

In [37]:
dupli=df.duplicated()
j=0
for i in dupli:
    if i==True:
        j=j+1
print('The number of duplicated rows are', j)

The number of duplicated rows are 0

## Export data to a new csv file

In [41]:
df.to_csv(r'C:/Users/meteu/Desktop/SPRINGBOARD/PROJECT 2/data/clean_data.csv')