# Capstone II: Pre_processing and Training Data Development

**The different steps we will take are:**

* Standardize the magnitude of numeric features
* Split into testing and training datasets
* Apply scaler to the testing set

We will start by loading the necessary packages

In [13]:
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
from sklearn import preprocessing

We need to know what is our curent working directory.

In [7]:
os.getcwd()

'C:\\Users\\meteu\\Desktop\\SPRINGBOARD\\PROJECT 2\\data'

In [8]:
!dir

 Volume in drive C is Windows
 Volume Serial Number is 603D-12C6

 Directory of C:\Users\meteu\Desktop\SPRINGBOARD\PROJECT 2\data

07/03/2020  10:34 AM    <DIR>          .
07/03/2020  10:34 AM    <DIR>          ..
07/03/2020  09:05 AM            89,556 BMI.PNG
06/30/2020  07:50 PM           125,900 chart.PNG
06/27/2020  11:24 AM         3,420,416 clean_data.csv
07/06/2020  08:49 PM         4,040,522 ready_data.csv
               4 File(s)      7,676,394 bytes
               2 Dir(s)  376,976,240,640 bytes free

Let us now load the data we created at the end of EDA.

In [9]:
df=pd.read_csv('ready_data.csv')
df.head()

,Unnamed: 0,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,BMI
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0,21.967120
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1,34.927679
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1,23.507805
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1,28.710479
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0,23.011177

In [10]:
df=df.drop(columns=['Unnamed: 0'])
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,BMI
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,21.967120
1,20228,1,156,85.0,140,90,3,1,0,0,1,1,34.927679
2,18857,1,165,64.0,130,70,3,1,0,0,0,1,23.507805
3,17623,2,169,82.0,150,100,1,1,0,0,1,1,28.710479
4,17474,1,156,56.0,100,60,1,1,0,0,0,0,23.011177

Let us check the data type of each columns

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66478 entries, 0 to 66477
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          66478 non-null  int64
 1   gender       66478 non-null  int64
 2   height       66478 non-null  int64
 3   weight       66478 non-null  float64
 4   ap_hi        66478 non-null  int64
 5   ap_lo        66478 non-null  int64
 6   cholesterol  66478 non-null  int64
 7   gluc         66478 non-null  int64
 8   smoke        66478 non-null  int64
 9   alco         66478 non-null  int64
 10  active       66478 non-null  int64
 11  cardio       66478 non-null  int64
 12  BMI          66478 non-null  float64
dtypes: float64(2), int64(11)
memory usage: 6.6 MB

# Standardize the magnitude of our features

We will be using sklearn preprocessing to standardize the scale of features of our dataframe.
We will set `cardio` as our `y` variable (or response variable) and our `X` varibale will be all our dataframe exept `cardio`.

In [15]:
X=df.drop(columns=['cardio'])
y=df['cardio']

We use StandardScaler() method of the preprocessing package and then call the fit() method with parameter X.

In [17]:
scaler=preprocessing.StandardScaler().fit(X)

We declare a variable called X_scaled and assign it the result of calling the transform() method with parameter X.

In [18]:
X_scaled=scaler.transform(X)

# Split into training and testing datasets

Using sklearn model selection import train_test_split, and create a 80/20 split with the y=`cardio`.

In [20]:
from sklearn.model_selection import train_test_split

Let us flatenned our variable y by calling the `ravel()` function on `y`.

In [22]:
y=y.ravel()

We will call `train_test_split()` function with the first two parameters set to `X_scaled` and `y`.

In [24]:
X_train, X_test, y_train, y_test=train_test_split(X_scaled, y, test_size=0.2, random_state=1)